.scroll-up-button {
  padding-top: 10px;
  position: fixed;
  bottom: 2em;
  right: -1em;
  background-color: var(--lightblue);
  color: var(--walterwhite);
  border: none;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  &:hover {
    box-shadow: 0px 0px 15px 15px #00eeff;
  }
}

.dark .scroll-up-button {
  background-color: var(--headerfoot-bg);
  &:hover {
    box-shadow: 0px 0px 15px 15px #a024ff;
  }
}

@media (max-width: 768px) {
 .scroll-up-button {
    bottom: 0.7em;
    right: -1.6em;
    width: 1.5em;
    height: 1.5em;
     &:hover {
    box-shadow: 0px 0px 8px 8px #00eeff;
}
  .dark .scroll-up-button:hover {
    box-shadow: 0 0 8px 8px #a024ff;
}
}
